<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Food App</title>

     <!-- STYLESHEETS -->
     <!-- STYLESHEETS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link rel="stylesheet" href="/styles/styles.css">

     <!-- VENDOR SCRIPTS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>



  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>
</head>
  <body>
    <div class="jumbotron">
        <h1>Food App</h1>
        <p>Review your favorite restaurants<p>
      </div>
<div class="container">
<div class="row">
<div class="col-md-12">
      <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Restaurant Lists <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
              <li><a href="#">Restaurant A</a></li>
              <li><a href="#">Restaurant B</a></li>
              <li><a href="#">Restaurant C</a></li>
              <li><a href="#">Restaurant D</a></li>
              <li><a href="#">Restaurant E</a></li>
            </ul>
          </div>
</div>
</div>
</div>

    <!-- List of Restaurants -->
<div id='restaurants'>
  <script id='restaurant-template' type='text/x-handlebars-template'>

    <div class="row resturant" data-restraunt-id="{{_id}}">

      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">


          <!-- lists of restaurants -->
            <div class='row'>
              <div class="col-md-3 col-xs-12 thumbnail image">
                <img src="images/food.img" alt="food">
              </div>

              <div class="col-md-9 col-xs-12">
                <ul class="restaurant">
                  <li class="restaurant info">
                    <h4 class='inline-header'>Restraunt Name:</h4>
                    <span class='restaurant-name'>{{name}}</span>
                  </li>

                  <li class="restaurant info">
                    <h4 class='inline-header'>Address:</h4>
                    <span class='restaurant-address'>{{address}}</span>
                  </li>

                  <li class="restaurant info">
                    <h4 class='inline-header'>Phone Number:</h4>
                    <span class='restaurant-phone'>{{phoneNum}}</span>
                  </li>
                </ul>
                </script>
</body>
</html>
