.jumbotron {
  background-image: url(/images/food1.png);
  background-repeat: repeat;
  height: 220px;
  font-size: 70px;
  text-align: center;
  color: #3366FF;
}

p{
  color: black;
  font-size: 30px;
  text-align: center;
}
